<div class="sm:text-center">
    <h1 class="text-4xl tracking-tight text-gray-900 md:text-6xl">This is a game</h1>
    <div class="mt-7 flex justify-center">
        <button class="rounded-md shadow" (click)="onStart()">
            <span class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-400 hover:bg-green-900 md:py-4 md:text-lg mx:px-10">Start</span>
        </button>
        <button class="rounded-md shadow ml-6" (click)="onStop()">
            <span class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-400 hover:bg-red-900 md:py-4 md:text-lg mx:px-10">Stop</span>
        </button>
    </div>
</div>
